<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Post</title>
</head>
<body>
    <h2>All Posts --</h2>
    <ul>
        <%for(let p of posts){%>
        <li>
            <%=p.user%> <b>-</b> <%=p.post%> - <a href="/posts/<%= p.id %> ">Details</a> 
        </li>
        <%}%>
    </ul>
    <a href="/posts/new">Create New Post</a>
</body>
</html>