<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form for new post</title>
</head>
<body>
    <form action="/posts" method="post">
        <label for="user">Enter username</label>
        <input type="text" id="user" name="user">
        <label for="post">Enter post</label>
        <input type="text" id="post" name="post">
        <button>Submit</button>
    </form>
</body>
</html>